.responsive-table {
  max-width: 250px;
  word-wrap: break-word;
  margin: 0px;
  font-size: 9px
}

.responsive-table td {
  border-bottom: solid 0.5px;
  vertical-align: center;
  padding: 15px;
}

.responsive-table th {
  border-bottom: solid 0.5px;
  vertical-align: center;
  text-align: center;
  padding: 15px;
}

.responsive-table tr {
  text-align: left;
  padding: 15px;
}

.responsive-table tr:hover {
  background-color: rgba(212,212,212,1);
}

.responsive-table td:hover {
  background-color: rgba(220,220,220,1);
}
